section.land-page{
    background-color: rgb(211, 179, 39);
    padding: 3% 10%;
    text-align: center;
    height: 100%;
}
section.main > nav.navbar{
    background-color: rgb(248, 248, 248);
}
section.each-pokemon{
    display: flex;
    justify-content: space-between;
}

#poke-image{
    width: 100%;
    height: 100%;
}
div.poke-img{
    border: 1px solid transparent;
    border-radius: 50%;
}
section.pokemon{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
img.pokemon-card{
    width: 20%;
    padding: 3% 3%;
}
img.pokemon-card-searched{
    width: 30%;
    padding: 3% 5%;
    
}
.btn {
    background-color: rgb(211, 179, 39);
}
section.pokemons-title h2{
    font-size: 1rem;
}